<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Quick Quiz - Play</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" th:href="@{/css/app.css}" />
<link rel="stylesheet" th:href="@{/css/game.css}" />
</head>
<body>
	<div class="container">
		<div id="game" class="justify-center flex-column">
			<div id="hud">
				<div id="hud-item">
					<p id="progressText" class="hud-prefix">Question</p>
					<div id="progressBar">
						<div id="progressBarFull"></div>
					</div>
				</div>
			</div>


			<h2 id="question" th:text="${question.getContent()}">What is the
				answer to this questions?</h2>
			<form th:action="@{/question}" method="post">
			
				<input type="text"  class="form-control d-none" name="id" th:value="${id}">
				<input type="text"  class="form-control d-none" name="questionid" th:value="${questionid}">
				<input type="text"  class="form-control d-none" name="takeid"  th:value="${take.id}">
				
			
				<!-- <input class="form-check-input p-auto mx-3 my-auto" type="radio"
					name="id" th:value="${id}"> 
					<input class="form-check-input p-auto mx-3 my-auto" type="radio"
					name="questionid" th:value="${questionid}"> -->
				<div class="choice-container" th:each="answer,iter : ${listAnswers}">
					<input class="form-check-input p-auto mx-3 my-auto" type="radio"
						name="answer" th:value="${answer.id}">
					<th:block th:switch="${iter.index}">
						<div th:case="0">
							<p class="choice-prefix">A</p>
						</div>
						<div th:case="1">
							<p class="choice-prefix">B</p>
						</div>
						<div th:case="2">
							<p class="choice-prefix">C</p>
						</div>
						<div th:case="3">
							<p class="choice-prefix">D</p>
						</div>
					</th:block>

					<p class="choice-text" data-number="2"
						th:text="${answer.getContent()}">Choice 1</p>

				</div>
				<input type="submit" class="btn btn-outline-primary " value="Submit">
				



			</form>
		</div>
	</div>
	<!--  <script th:src="@{../static/js/game.js}"></script> -->

</body>
</html>
