
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <title>Quick Quiz</title>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
  </head>
  
  <body>
    <div class="container">
     	<div id="home" class="flex-center flex-column">
        	<h1>Quick Quiz</h1>
        	<a class="btn" th:href="@{/question(id=${id})}">Play</a>
        	<a class="btn" th:href="@{/highscore(id=${id})}">High Scores</a>
      	</div>
    </div>
  </body>
</html>